
.navbar__logo {
    
    background: #C4C4C4;
}
nav ul {
    float: right;
    
}
nav ul li {
    display: inline-block;
    margin-right: 15px;;
}

div {   
    margin: 0; 
    border:1px solid white;
}
#login {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;

}
#register { 
    font-family: "Roboto", sans-serif;   
    color: #FF0000;}
